{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %} Editando '{{book.name}}' {% endblock %}

{% block banner %}
{% include 'components/banner.html' %}
{% endblock %}

{% block content%}
<div class="container col-19 list-div">
    <h1>Editando '{{book.name}}'</h1>
    <form method="POST" class="form-add-up" enctype="multipart/form-data">
        {% csrf_token %}
        {{form|crispy}}
        <input type="submit" class="btn btn-success" value="Editar livro">
    </form>
</div>
{% endblock %}