{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %} Atualizando leitura de: '{{book.name}}' {% endblock %}

{% block banner %}
{% include 'components/banner.html' %}
{% endblock %}

{% block content%}
<div class="container col-19 list-div">
    <h1>Atualizando leitura de: '{{book.name}}'</h1>
    <img width="400" src="{{book.img.url}}" class="" alt="...">
    <form method="POST" class="form-add-up" enctype="multipart/form-data">
        {% csrf_token %}
        {{form|crispy}}
        <input type="submit" class="btn btn-success" value="Atualizar leitura">
    </form>
</div>
{% endblock %}