{% load static %}
<div class="container-fluid mt-5">
    <div class="row d-flex align-items-center">
        <div class="col-md-6 text-light justify-content-center">

            <hr class="col-lg-6 col-xl-8 offset-lg-3 offset-xl-2">
            <h1 class="text-center display-1">Biblioteca Virtual</h1>
            <h1 class="text-center text-warning">Organize suas leituras</h1>
            <hr class="col-lg-6 col-xl-8 offset-lg-3 offset-xl-2">

        </div>
        <div class="col-md-6 text-center">
            <img width="350" src="{% static 'librarymanager/books.png' %}" class="img-fluid" alt="">
        </div>
    </div>
</div>