{% load static %}
<div class="row">
    <div class="col">
        <div class="container rounded my-4">
            <div class="spam text-white text-center display-4 fw-bold">
                Aqui estão alguns livros
            </div>
        </div>
    </div>
</div>
{% if messages %}
<ul class="messages container">
    {% for message in messages %}
    <li {% if message.tags %} class="alert alert-{{message.tags}}" {% endif %}> {{message}}</li>
    {% endfor %}
</ul>
{% endif %}
<div class="col-md-5 offset-1 add-div">
    <a href="{% url 'new_book' %}">
        <button class="btn btn-outline-success" type="submit">
            <ion-icon name="add-outline"></ion-icon>
            Adicionar livro
        </button>
    </a>
</div>

<div class="col-md-5 add-div">
    <form class="d-flex" role="search" method="GET" id="search-form">
        <input class="form-control me-2" type="search" id="search" name="busca" placeholder="Sua pesquisa"
               aria-label="Search" value="{{ request.GET.busca }}">
        <button class="btn btn-outline-success" type="button" id="search-btn">Buscar</button>
    </form>
</div>

<div class="row my-3">
    <div class="col-md-10 offset-1">
        <div class="row row-cols-1 row-cols-md-4 g-3">

            {% for book in books %} 
            <div class="col">
                <div class="card bg-light">
                    <div class="progress">
                        {% if book.numberPages == book.lastPageRead %}
                        <div class="progress-bar progress-bar-striped bg-success progress-bar-animated"
                             role="progressbar" style="width: 100%" aria-valuenow="100"
                             aria-valuemin="0" aria-valuemax="100"></div>
                        {% else %}
                        <div class="progress-bar progress-bar-striped bg-primary progress-bar-animated"
                             role="progressbar" style="width: {{book.progress}}%" aria-valuenow="{{book.progress}}"
                             aria-valuemin="0" aria-valuemax="100"></div>
                        {% endif %}
                    </div>
                    <div class="text-center">
                        <a href="{% url 'update_last_page_read' book.id %}">
                            <img src="{{book.img.url}}" class="book-img" alt="...">
                        </a>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{book.name}}</h5>
                        <p class="card-text">Autor: {{book.author}} </br> ano: {{book.year}} </br> {{book.numberPages}}
                            páginas </p>
                        <div>
                            <a href="{% url 'edit_book' book.id %}">
                                <button class="btn btn-outline-warning edit-book" type="submit">
                                    <ion-icon name="create-outline"></ion-icon>
                                    Editar
                                </button>
                            </a>
                            <a href="{% url 'delete_book' book.id %}" class="delete-btn">
                                <button class="btn btn-outline-danger remove-book" type="submit">
                                    <ion-icon name="trash-bin-outline"></ion-icon>
                                    Excluir
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
        <div class="pagination">
    <span class="step-links">
        {% if books.has_previous %}
            <a href="?page={{books.previous_page_number}}"><ion-icon name="arrow-back-outline"></ion-icon></a>
        {% endif %}

        {% if books.paginator.num_pages %}
        <span class="current">
            {{books.number}} de {{books.paginator.num_pages}}
        </span>
        {% endif %}

        {% if books.has_next %}
            <a href="?page={{books.next_page_number}}"><ion-icon name="arrow-forward-outline"></ion-icon></a>
        {% endif %}
    </span>
        </div>
    </div>
</div>